:host ::ng-deep {
  .orientation-left {
      display: flex;

      .p-tabview-nav {
          flex-direction: column;
          width: 100%;
      }

      .p-tabview-panels {
          width: 100%; // to have content take up remainder of space
      }
  }
}
