<div class="container">
  <div class="cloud_cta_banner">
    <div class="cta_banner_txt">
      <div class="heading3">
        Minimize Your Development Timelines <br>With DevOps
      </div>
      <div class="app__subhead">
        Our pool of DevOps services enable on-demand scalability, <br>ensure optimum code efficiency
        and eliminate <br>security breaches.</div>
      <div class="common__btn">
        <a (click)="visible = true" class="btn_line btn-effect btn--show-modal"><span>Contact Our Experts</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </a>
      </div>
    </div>
  </div>

</div>
<app-contact-dialog [visible]="visible" (close)="visible = false"></app-contact-dialog>
