<app-header></app-header>
<app-slider></app-slider>
<div class="bg_wrapper">
  <app-dev-services></app-dev-services>
  <app-dev-timelines></app-dev-timelines>
  <app-dev-experties></app-dev-experties>
  <app-stats></app-stats>
</div>
<app-devops-approach></app-devops-approach>
<app-devops-tools></app-devops-tools>
<app-faqs></app-faqs>
<app-blogs></app-blogs>
<app-addresses></app-addresses>
<app-footer></app-footer>
<!-- <app-projects></app-projects>
<app-devops-partnerships></app-devops-partnerships>
<app-clients></app-clients>
 -->
