
<app-header></app-header>
<div class="container">
  <app-slider></app-slider>
  <app-dev-services></app-dev-services>
  <app-dev-timelines></app-dev-timelines>
  <app-dev-experties></app-dev-experties>
  <app-stats></app-stats>
  <app-projects></app-projects>
  <app-devops-approach></app-devops-approach>
  <app-devops-tools></app-devops-tools>
  <app-devops-partnerships></app-devops-partnerships>
  <app-clients></app-clients>
  <app-faqs></app-faqs>
  <app-blogs></app-blogs>
  <app-addresses></app-addresses>
</div>
<app-footer></app-footer>
