.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 999999;
  transition: all 0.5s;
}

.btn-popup-wrapper .flex_wrapper {
  margin: 0;
  flex-wrap: nowrap;
}

.pop-left {
  background: url("src/assets/images/vision-img.png") no-repeat center fixed;
  /* width: 553px; */
  padding: 55px 50px;
  position: relative;
  background-size: cover;
  display: block;
  @media screen and (max-width: 500px) {
    display: none;
  }
}
.visiontext_wrapper .heading2 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  position: relative;
}
.visiontext_wrapper .heading2 span {
  color: #0092ff;
}
.heading2 span,
.heading3 span {
  position: relative;
}
.visiontext_wrapper .heading6 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  padding: 35px 0;
}
.pop-right {
  width: 460px;
  background: #fff;
}
.right-head-wrapper {
  padding: 5px;
}
.right-head-wrapper .heading4 {
  margin: 0;
  font-size: 22px;
  color: #000;
  text-align: center;
}
.right-head-wrapper .para {
  margin: 2px 0 0;
  color: grey;
  text-align: center;
}
.contact-grid-left-sec {
  border: 1px solid #e6e6e6;
  border-bottom: 0;
}
.contact-grid.appi-inpsec {
  border-top: 0;
  border-right: 0;
}
.pop-right .contact-grid {
  border-bottom: none;
  padding: 19.5px 20px;
  width: 50%;
  float: left;
  position: relative;
}
.contact-grid input,
.contact-grid textarea {
  outline: 0;
  position: relative;
  z-index: 2;
  background: 0 0;
  width: 100%;
  height: 50px;
  border: 0;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}
.contact-grid-left-sec .contact-grid:first-child .typedtxt {
  text-transform: capitalize;
}
.pop-right .contact-grid > label {
  top: 32px;
}
.contact-grid input:focus ~ label,
.contact-grid label.active,
.contact-grid textarea:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-10%, -75%) scale(0.75);
  transform: translate(-10%, -75%) scale(0.75);
  -moz-transform: translate(-10%, -75%) scale(0.75);
  -ms-transform: translate(-10%, -75%) scale(0.75);
  -o-transform: translate(-10%, -75%) scale(0.75);
  z-index: 3;
}

.contact-grid > label {
  position: absolute;
  top: 27px;
  left: 18px;
  color: #757575;
  z-index: 1;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}
.contact-grid-left-sec .contact-grid:nth-child(2) {
  border-left: 1px solid #e6e6e6;
}
.contact-grid.full-grid {
  width: 100%;
  border-top: 1px solid #e6e6e6;
}
.contact-grid {
  border: 1px solid #e6e6e6;
}
.contact-grid textarea {
  height: 90px;
  padding: 15px 0;
  resize: none;
}
#footer_capt_div.contact-grid {
  border-right: 0;
}
.pop-right .captcha_col {
  margin-bottom: 0;
}
.captcha_col {
  margin: 0 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pop-right .captcha_col .col6 {
  flex: none;
  max-width: 100%;
}
.captcha_col .form-col > span {
  padding: 13px 0 0 0;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.captcha_col .type_text {
  text-align: center;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  width: 85px;
  margin-left: 10px;
}
.contact-grid .appi-cta {
  float: right;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.dialog-header {
  font-size: 22px;
  color: #000;
  font-weight: 600;
}

.p_wrapper {
  background: #353b4b;
  padding: 30px 40px;
}
.flex_wrapper {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  flex-wrap: wrap;
}
.flex_wrapper.align_center {
  align-items: flex-start;
}
.flex_wrapper.space_between {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-wrap: wrap;
  padding: 30px 0 0;
  justify-content: space-between;
}
.p_wrapper .flex_wrapper.space_between {
  padding: 0;
  flex-wrap: wrap;
}
.p_wrapper_h {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
  position: relative;
  width: 47%;
  padding-right: 15px;
}
.p_wrapper_h:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  border-right: 1px solid #fff;
  height: calc(100% + 8px);
}
.p_wrapper_logos {
  width: calc(100% - 49%);
}
.p_wrapper_logos .flex_wrapper div {
  /* width: calc(100% / 5); */
}
.p_wrapper_logos span {
  background: url(https://appinventiv.com/wp-content/themes/twentynineteen-child/images/popup-logo-sprite.png)
    no-repeat;
  display: block;
}
.p_wrapper_logos .l2 span {
  height: 38px;
  width: 89px;
  background-position: -92px -8px;
  margin-top: -10px;
}
.p_wrapper_logos .l1 span {
  height: 28px;
  width: 66px;
  background-position: -16px -17px;
}
.p_wrapper_logos .l3 span {
  height: 28px;
  width: 66px;
  background-position: -195px -17px;
}
.p_wrapper_logos .l4 span {
  height: 42px;
  width: 66px;
  background-position: -272px -8px;
  margin-top: -10px;
}
.p_wrapper_logos .l5 span {
  height: 25px;
  width: 66px;
  background-position: -337px -21px;
}
.p_wrapper_logos .l6 span {
  height: 28px;
  width: 65px;
  background-position: -13px -54px;
}
.p_wrapper_logos .l7 span {
  height: 32px;
  width: 66px;
  background-position: -100px -53px;
}
.p_wrapper_logos .l8 span {
  height: 28px;
  width: 66px;
  background-position: -195px -54px;
}
.p_wrapper_logos .l9 span {
  height: 32px;
  width: 66px;
  background-position: -282px -53px;
}
.p_wrapper_logos .l10 span {
  height: 32px;
  width: 86px;
  background-position: -359px -53px;
}
