<p-dialog
  [(visible)]="visible"
  [style]="{ width: '70vw' }"
  (onHide)="close.emit()"
  header="Header"
>
<ng-template pTemplate="header">
  <span class="dialog-header">Consult Our Experts</span>
</ng-template>
  <div class="modal_popup">
    <div class="btn-popup-wrapper">
      <div class="row">
        <div class="col-md-6 col-sm-12 pop-left">
          <div class="visiontext_wrapper">
            <div class="heading2">
              You have a <span>vision.</span> We have a way to get you there.
              <div class="heading6">
                Global Leader in new age digital<br class="br-block" />
                product development
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="right-head-wrapper">
            <div class="heading4">Speak to our experts</div>
            <p class="para">Please fill the form below.</p>
            <span class="close-popup"></span>
          </div>
          <div class="p-4">
            <div class="row form-group">
              <div class="col-md-12 form-group mb-3">
                <label class="mb-1">Full Name</label>
                <input type="text" pInputText />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group mb-3">
                <label class="mb-1">Email Address</label>
                <input type="text" pInputText />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group mb-3">
                <label class="mb-1">Contact Number</label>
                <input type="text" pInputText />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group mb-3">
                <label class="mb-1">Message</label>
                <textarea rows="5" cols="30" pInputTextarea></textarea>
              </div>
            </div>
          </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <!-- <div class="p_wrapper mb-4">
      <div class="flex_wrapper align_center space_between">
        <div class="p_wrapper_h">
          1000+ successful products delivered by 600+ certified experts.
        </div>
        <div class="p_wrapper_logos">
          <div class="flex_wrapper align_center space_between">
            <div class="l1"><span></span></div>
            <div class="l2"><span></span></div>
            <div class="l3"><span></span></div>
            <div class="l4"><span></span></div>
            <div class="l5"><span></span></div>
            <div class="l6"><span></span></div>
            <div class="l7"><span></span></div>
            <div class="l8"><span></span></div>
            <div class="l9"><span></span></div>
            <div class="l10"><span></span></div>
          </div>
          <div class="mobile-sprite"></div>
        </div>
      </div>
    </div> -->
    <p-button style="    margin-top: 10px;
    display: block;" (click)="visible=false" label="Send"></p-button>
  </ng-template>
</p-dialog>
