  <p-dialog [(visible)]="visible" [style]="{ width: '50vw' }" (onHide)="close.emit()">
      <div class="modal_popup">
        <div class="btn-popup-wrapper">
          <div class="flex_wrapper d-flex">
            <div class="pop-left">
              <div class="visiontext_wrapper">
                <div class="heading2">You have a <span>vision.</span> We have a way to get you there.
                  <div class="heading6">Global Leader in new age digital<br class="br-block"> product
                    development </div>
                </div>
              </div>
            </div>
            <div class="pop-right">
              <div class="right-head-wrapper">
                <div class="heading4">Speak to our experts</div>
                <p class="para">Please fill the form below. </p>
                <span class="close-popup"></span>
              </div>
              <!-- <form action="" id=""> -->
              <div class="contact-grid-left-sec clearfix">
                <div class="contact-grid appi-inpsec" id="footer_name_div">
                  <input type="text" class="typedtxt" id="footer_name1" name="footer_name1" required=""
                    maxlength="50" value="" onkeydown="validateName( event )">
                  <label for="">Full name:</label>
                </div>
                <div class="contact-grid appi-inpsec" id="footer_mail_div">
                  <input type="email" id="footer_mail1" class="typedtxt" name="footer_mail1" required=""
                    maxlength="50" autocomplete="off">
                  <label for="">Email address</label>
                </div>
                <div class="contact-grid full-grid">
                  <input type="text" class="typedtxt" maxlength="15" id="footer_phonenumber1"
                    name="footer_phonenumber1" onkeydown="checkphonenumber( event )" value="">
                  <label for="">Contact number</label>
                </div>

                <div class="contact-grid full-grid grid-textarea">
                  <textarea name="footer_message1" class="typedtxt" id="footer_message1" value=""></textarea>
                  <label for="">Message</label>
                </div>
                <div class="contact-grid" id="footer_capt_div">
                  <div class="row captcha_col">
                    <div class="col6">
                      <div class="form-col" id="captcha-section">
                        <span class="captchtext captcha-num">3 + 4 = </span>
                        <input autocomplete="off" class="type_text" type="text" id="captcha" name="capt"
                          maxlength="2">
                        <input autocomplete="off" name="firstNumber" id="firstNumber" type="hidden"
                          value="3">
                        <input autocomplete="off" name="secondNumber" id="secondNumber" type="hidden"
                          value="4">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- </form> -->
            </div>
          </div>
          <div class="p_wrapper">
            <div class="flex_wrapper align_center space_between">
              <div class="p_wrapper_h">1000+ successful products delivered by 600+ certified experts. </div>
              <div class="p_wrapper_logos">
                <div class="flex_wrapper align_center space_between">
                  <div class="l1"><span></span></div>
                  <div class="l2"><span></span></div>
                  <div class="l3"><span></span></div>
                  <div class="l4"><span></span></div>
                  <div class="l5"><span></span></div>
                  <div class="l6"><span></span></div>
                  <div class="l7"><span></span></div>
                  <div class="l8"><span></span></div>
                  <div class="l9"><span></span></div>
                  <div class="l10"><span></span></div>
                </div>
                <div class="mobile-sprite">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </p-dialog>
