<p-carousel [value]="products" [autoplayInterval]="5000" [numVisible]="numVisible" [showIndicators]="false" [numScroll]="1" [responsiveOptions]="responsiveOptions">
  <ng-template let-product pTemplate="item">
      <div class="product-item">
          <div class="product-item-content">
              <div class="mb-3">
                  <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" [alt]="product.name" class="product-image" />
              </div>
              <div>
                  <h4 class="mb-1">{{ product.name }}</h4>
                  <h6 class="mt-0 mb-3">{{ '$' + product.price }}</h6>
                  <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag>
                  <div class="car-buttons mt-5">
                      <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-search"></p-button>
                      <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-star-fill"></p-button>
                  </div>
              </div>
          </div>
      </div>
  </ng-template>
</p-carousel>
