<div class="dev-experties ">
  <div class="container">


    <div class="ellipse1">
      <img src="assets/images/ellipse1.png" alt="">
    </div>
    <div class="ellipse2">
      <img src="assets/images/ellipse2.png" alt="">
    </div>
    <h2 class="heading2">Why Choose Appinventiv as Your<br>
      DevOps Services Company?</h2>
    <div class="app__subhead">Hire the expertise that won us long-term relations with high-end clients.
    </div>
    <p-tabView styleClass="orientation-left parter_tab_panel">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-calendar"></i>
          <span>Complex delivery
            experience</span>
        </ng-template>
        <div class="tab_detl_inner ds_flex flex_spc_btw flex_al_start">
          <div class="tab_img_wrap">
            <figure>
              <img src="assets/images/complex-delivery-img.png" alt="">
            </figure>
          </div>
          <p class="para">We have 8+ years of experience in helping organizations
            streamline the release cycles of different applications. Our team of experts
            automate real-time code correction throughout the development process to
            eliminate security breaches.
          </p>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header II">
        <ng-template pTemplate="header">
          <i class="pi pi-user"></i>
          <span>Skilled DevOps engineers</span>
        </ng-template>
        <div class="tab_detl_inner ds_flex flex_spc_btw flex_al_start">
          <div class="tab_img_wrap">
            <figure>
              <img src="assets/images/skilled-devOps-engineers-img.png" alt="">
            </figure>
          </div>
          <p class="para">
            Our DevOps engineers have expertise and experience in all the
            state-of-the-art technologies, offering you excellence at every stage of
            your DevOps transformation journey. Our experts engineer products with a
            high priority to delivery excellence, an agile culture, and process
            orientation.
          </p>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header III">
        <ng-template pTemplate="header">
          <i class="pi pi-search"></i>
          <span>Best security integration</span>
          <i class="pi pi-cog"></i>
        </ng-template>
        <div class="tab_detl_inner ds_flex flex_spc_btw flex_al_start">
          <div class="tab_img_wrap">
            <figure>
              <img src="assets/images/best-security-integration-img.png" alt="">
            </figure>
          </div>
          <p class="para">
            At Appinventiv, we think about security and compliance at early stages of
            the project so that any potential defect is removed early on and you get
            reduced costs and faster product release time to market. Our engineers,
            through DevSecOps as a service, integrate security at the heart of the
            product while providing proven ways to monitor results.
          </p>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Header Iv">
        <ng-template pTemplate="header">
          <i class="pi pi-search"></i>
          <span>Dedicated DevOps team</span>
          <i class="pi pi-cog"></i>
        </ng-template>
        <div class="tab_detl_inner ds_flex flex_spc_btw flex_al_start">
          <div class="tab_img_wrap">
            <figure>
              <img src="assets/images/dedicated-devOps-team.png" alt="">
            </figure>
          </div>
          <p class="para">
            Our every client is provided with a dedicated team of DevOps specialists
            that solves their issues with an individual approach. We are a DevOps
            consulting firm that understands your project requirements in detail and
            implements the best DevOps practices, achieving the results you desire for
            your business.
          </p>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
