<div class="stats_wrap">
  <div class="pad_gap">
    <h2 class="heading2 text-center blk">The numbers that help you reach <br>your business goals
      faster </h2>
    <div class="states_panel">
      <div class="digits">
        <span>50%</span>
        <div class="stats-head">Faster go-to-market<br> timeline</div>
      </div>
      <div class="digits">
        <span>30%</span>
        <div class="stats-head">Reduction in risks</div>
      </div>
      <div class="digits">
        <span>45%</span>
        <div class="stats-head">Higher business agility</div>
      </div>
    </div>
    <div class="common__btn blk hv_blue">
      <a (click)="visible = true" class="btn_line btn-effect btn--show-modal"><span>Connect With Us</span>
        <svg width="13px" height="10px" viewBox="0 0 13 10">
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </a>
    </div>
  </div>
</div>
<app-contact-dialog [visible]="visible" (close)="visible = false"></app-contact-dialog>
