<div class="stats">
  <div class="heading">
    <h2>The numbers that help you reach your business goals faster</h2>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="percentage">50%</div>
      <div class="sub-content">Faster go-to-market timeline</div>
    </div>
    <div class="col-md-4">
      <div class="percentage">30%</div>
      <div class="sub-content">Reduction in risks</div>
    </div>
    <div class="col-md-4">
      <div class="percentage">45%</div>
      <div class="sub-content">Higher business agility</div>
    </div>
  </div>
  <p-button label="Contact our experts" icon="pi pi-check" iconPos="right"></p-button>
</div>
