/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@media (max-width: 1199px) {
  .p-sidebar {
    width: 100% !important;
    right: 0;

    .p-sidebar-header {
      border-bottom: 1px solid #f2f2f2;
      padding: 10px;
    }

    .p-sidebar-content {
      padding: 0 !important;
    }

    .menu-wrapper {
      >ul {
        flex-direction: column;
        align-items: flex-start;

        >li {
          width: 100%;
        }
      }
    }
  }

}

.p-megamenu {
  border-radius: 0px !important;
}

.video-wrapper__video {
  width: 100%;
}

.orientation-left {
  display: flex;

  .p-tabview-nav {
    flex-direction: column;
    width: 100%;
  }

  .p-tabview-panels {
    width: 100%; // to have content take up remainder of space
  }
}

.bg_wrapper {
  background-color: #000;
  padding: 5rem 0;
  margin-top: -1px;
}

.heading2 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.1;
  position: relative;
  z-index: 2;

  @media (min-width: 1200px) {
    font-size: 60px;
  }
}

.app__subhead {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;

  @media (min-width: 1200px) {
    font-size: 22px;
  }
}

.ds_flex {
  display: flex;
}

.flex_spc_btw {
  justify-content: space-between;
}

a,
img a {
  text-decoration: none !important;
  border: 0;
  outline: 0 !important;
}


@media (min-width: 1600px) {
  .container {
    max-width: 1700px !important;
  }
}


.dev-services-tabs {
  display: flex;
  border: 1px solid #126BFB;
  border-radius: 25px;
  margin: 3rem 0 8rem;

  .p-tabview-nav-container {
    padding: 20px;
    width: 40%;
    background-color: #126BFB;
    border-radius: 20px 0 0 20px;

    @media (min-width: 992px) {
      padding: 100px 60px;
    }
  }

  &.p-tabview .p-tabview-nav {
    background: transparent;
    border: none;
  }

  &.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    font-size: 18px;
    font-weight: 700;
    padding: 15px 0;
    cursor: pointer;
    border-bottom: 1px solid #89B5FD;
    border-radius: 0;
    background: transparent !important;
    color: #89B5FD !important;

    @media (min-width: 992px) {
      font-size: 24px;
      padding: 35px 0;
    }
  }

  &.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: transparent !important;
    border-color: #89B5FD;
    color: #fff !important;
  }

  &.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
  }

  &.p-tabview .p-tabview-panels {
    width: 60% !important;
    position: relative;
    padding: 100px 20px;
    background: #000;
    border-radius: 0 20px 20px 0 !important;
    color: #fff;

    @media (min-width: 992px) {
      padding: 100px 100px 80px 50px;
    }
  }

  .p-panel {
    padding: 0 0 15px 0 !important;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(141, 141, 141, 0.5);

    @media (min-width: 992px) {
      padding: 0 0 25px 0 !important;
      margin-bottom: 25px;
    }
  }

  .p-panel .p-panel-header .p-panel-title {
    font-size: 14px;

    @media (min-width: 992px) {
      font-size: 18px;
    }
  }

  .p-panel .p-panel-header {
    padding: 0 !important;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 0;
  }

  .p-panel .p-panel-content {
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
  }
}


.dev-experties {
  padding: 5rem 0 7rem;
  position: relative;
  overflow: hidden;

  .parter_tab_panel {
    padding: 4rem 0 0;
    position: relative;
    z-index: 2;

    &.p-tabview .p-tabview-nav {
      background: transparent !important;
      border: none;
    }

    &.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
      color: #fff !important;

      &:before {
        opacity: 1;
      }
    }

    &.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: none
    }

    &.p-tabview .p-tabview-nav li .p-tabview-nav-link {
      border-radius: 0;
      background: transparent !important;
      border: none;
      color: #868892 !important;
      display: inline-block;
      position: relative;
      padding: 0;
      padding-left: 1rem;
      padding-bottom: 50px;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.4;

      @media (min-width: 992px) {
        padding-left: 2rem;
        padding-bottom: 95px;
        cursor: pointer;
        font-size: 28px;
      }

      &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 10px;
        width: 8px;
        height: 8px;
        background-color: #fff;
        border-radius: 50%;
        opacity: 0;
      }
    }

    &.p-tabview .p-tabview-panels {
      background: transparent;
      border-radius: 0;
      padding: 0;
      width: 70%;
      padding-left: 10px;
    }

    .p-tabview-nav-container {
      width: 30%;
    }
  }
}

.blk {
  color: #000;
}

.para {
  font-size: 22px;
  line-height: 1.7;
  margin: 30px 0;
  color: #000;
}

.devops-approach {
  .dev-services-tabs {
    padding-top: 50px;
    margin: 0;
    border: none;
    display: block;
    border-radius: 0;

    @media (min-width: 768px) {
      padding-top: 0;
    }

    .p-panel .p-panel-header .p-panel-title {
      @media (min-width: 992px) {
        font-size: 20px;
      }
    }

    .p-panel .p-panel-content {
      padding-top: 35px;

      p {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;
        color: #fff;
      }
    }
  }
}


.devops-tabs {
  .p-tabview .p-tabview-nav {
    background: #ffffff;
    border: none;
    padding: 50px 0 !important;
    margin: 0 20px !important;
    // overflow-x: auto;

    &::-webkit-scrollbar {
      height: 0 !important;
    }
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 0 35px;
    height: 70px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 20px;
    white-space: nowrap;
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {

    background: #126BFB;
    border: 2px solid #126BFB;
    color: #fff;
  }
}


.imgtabs {
  .tabview-custom {
    .p-tabview-nav {
      justify-content: center;
      border-bottom: none;
      margin-bottom: 60px;

      li {
        &.p-highlight {
          .p-tabview-nav-link {
            color: transparent;
            border-color: transparent;
            background: #F1F2FD;
          }
        }

        .p-tabview-nav-link {
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          margin: 0 10px;
          border: none;
          border-radius: 0;

          @media (min-width: 992px) {
            margin: 0 20px;
            width: 150px;
          }
        }
      }

    }
  }
}


.faqs {
  margin: 5rem 0;

  .p-panel-toggleable {
    padding: 20px 10px;
    background: #F1F2FD;
    border-radius: 20px;
    margin-bottom: 25px;

    @media (min-width: 992px) {
      padding: 20px 40px;
    }

    .p-panel-header {
      border: none;
      background-color: transparent;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.4;
      padding: 20px 0 25px 0;
    }

    .p-panel-content {
      border: none;
      background-color: transparent;
      padding: 0;

      p {
        margin-right: 20px;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        margin: 0 0 20px;
        color: #000;
      }
    }
  }
}

.benefit_slider_panel {
  .project-content {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 991px) {
      display: block;
    }

    img {

      @media (max-width: 767px) {
        width: 100%;
      }

      @media (max-width: 991px) {
        width: auto;
      }
    }
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    background: #707070 !important;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #fff !important;
  }

  .p-carousel .p-carousel-indicators {
    justify-content: flex-start;
  }

  .project-content-info {
    position: absolute;
    bottom: 0;
    width: 600px;

    @media (max-width: 991px) {
      position: static;
      width: auto;
      margin-top: 20px;
    }

    h4 {
      color: #fff;
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    h5 {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      display: inline-block;
    }
  }

  @media screen and (max-width: 991px) {
    #pr_id_4 .p-carousel-item {
      flex: 1 0 100%;
    }
  }

}


.portfolio_info {
  .ds_flex {
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  .port__left {
    width: 760px;
    height: 784px;
    padding: 40px 100px 40px 80px;
    overflow: hidden;
    border: 1px solid #C1C1C1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px 0 0 15px;

    @media (max-width: 767px) {
      padding: 20px;
      width: 100%;
      height: auto;
    }

    @media (max-width: 1200px) {
      width: 385px;
      padding: 20px;
    }
  }

  .portfolio_info .port__rght,
  .portfolio_info .port__left {
    height: 750px
  }

  .port_logo figure {
    max-width: 190px;
  }

  .port_logo img {
    max-width: 100%;
  }

  .portfolio_info .port__left .para,
  .port__left .stats_text,
  #sync1 .client__right .para,
  #sync1 .client__name {
    font-size: 20px;
  }

  .port__left .para {
    color: #fff;
    line-height: 1.4;
    font-weight: 300;
    padding: 20px 0;
  }

  .port_stats {
    display: flex;
    color: #fff;
    padding-bottom: 30px;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  .states_head {
    color: #fff;
  }

  .stats_text {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.3;
    padding-top: 5px;
  }

  .states_head span {
    font-size: 32px;
    line-height: 1;
    font-weight: 700;
    display: inline-block;
  }

  .states_head+.states_head {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #C1C1C1;

    @media (max-width: 767px) {
      margin: 0;
      padding: 0;
      border: none;
      margin-top: 10px;
    }
  }

  .common__btn {
    margin-top: 40px;
    display: table;
  }

  .common__btn .btn-effect {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    border: 2px solid #fff;
    padding: 14px 50px 14px 25px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
  }

  .port__rght {
    width: 760px;
    height: 784px;
    position: relative;
    border-radius: 0 15px 15px 0;

    @media (max-width: 767px) {
      width: 100%;
      height: auto;
    }

    @media (max-width: 1200px) {
      width: 385px;
    }

    img {
      width: 100%;

      @media (max-width: 1200px) {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .port__rght::before {
    position: absolute;
    content: "";
    background: #333;
    background-position: center;
    width: 85%;
    height: calc(100% + 80px);
    border-radius: 50px;
    top: -35px;
    left: -10px;
    z-index: -1;
    filter: blur(75px);
    bottom: 10px;
  }
}

.dropdown-wrapper {
  .p-tabview-nav-container {
    background: #0092ff;
  }

  .p-tabview .p-tabview-nav {
    background: #0092ff;
    border: none;
    width: 250px;
    @media (max-width: 1199px){
      width: 150px;
    }
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    margin: 15px 0 15px 60px;
    color: #fff;
    border-radius: 10px 0 0 10px;
    padding: 18px 10px 18px 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 0.8;
    background: #0092ff;
    box-shadow: none;
    border: none;
    @media (max-width: 1199px){
      margin: 15px 0 15px 15px;
    }
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #fff;
    color: #0092ff;
  }
}
