/* You can add global styles to this file, and also import other style files */
.p-megamenu {
  border-radius: 0px !important;
}

.video-wrapper__video {
  width: 100%;
}

.orientation-left {
  display: flex;

  .p-tabview-nav {
    flex-direction: column;
    width: 100%;
  }

  .p-tabview-panels {
    width: 100%; // to have content take up remainder of space
  }
}

.bg_wrapper {
  background-color: #000;
  padding: 5rem 0;
  margin-top: -1px;
}

.heading2 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.1;
  position: relative;
  z-index: 2;

  @media (min-width: 1200px) {
    font-size: 60px;
  }
}

.app__subhead {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;

  @media (min-width: 1200px) {
    font-size: 22px;
  }
}

.ds_flex {
  display: flex;
}

.flex_spc_btw {
  justify-content: space-between;
}

a,
img a {
  text-decoration: none !important;
  border: 0;
  outline: 0 !important;
}


@media (min-width: 1600px) {
  .container {
    max-width: 1700px !important;
  }
}


.dev-services-tabs {
  display: flex;
  border: 1px solid #126BFB;
  border-radius: 25px;
  margin: 3rem 0 8rem;

  .p-tabview-nav-container {
    padding: 20px;
    width: 40%;
    background-color: #126BFB;
    border-radius: 20px 0 0 20px;

    @media (min-width: 992px) {
      padding: 100px 60px;
    }
  }

  &.p-tabview .p-tabview-nav {
    background: transparent;
    border: none;
  }

  &.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    font-size: 18px;
    font-weight: 700;
    padding: 15px 0;
    cursor: pointer;
    border-bottom: 1px solid #89B5FD;
    border-radius: 0;
    background: transparent;
    color: #89B5FD;

    @media (min-width: 992px) {
      font-size: 24px;
      padding: 35px 0;
    }
  }

  &.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: transparent;
    border-color: #89B5FD;
    color: #fff;
  }

  &.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
  }

  &.p-tabview .p-tabview-panels {
    width: 60% !important;
    position: relative;
    padding: 100px 20px;
    background: #000;
    border-radius: 0 20px 20px 0 !important;
    color: #fff;

    @media (min-width: 992px) {
      padding: 100px 100px 80px 50px;
    }
  }

  .p-panel {
    padding: 0 0 15px 0 !important;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(141, 141, 141, 0.5);

    @media (min-width: 992px) {
      padding: 0 0 25px 0 !important;
      margin-bottom: 25px;
    }
  }

  .p-panel .p-panel-header .p-panel-title {
    font-size: 14px;

    @media (min-width: 992px) {
      font-size: 18px;
    }
  }

  .p-panel .p-panel-header {
    padding: 0 !important;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 0;
  }

  .p-panel .p-panel-content {
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
  }
}


.dev-experties {
  padding: 5rem 0 7rem;
  position: relative;
  overflow: hidden;

  .parter_tab_panel {
    padding: 4rem 0 0;
    position: relative;
    z-index: 2;

    &.p-tabview .p-tabview-nav {
      background: transparent;
      border: none;
    }

    &.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
      color: #fff;

      &:before {
        opacity: 1;
      }
    }

    &.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: none
    }

    &.p-tabview .p-tabview-nav li .p-tabview-nav-link {
      border-radius: 0;
      background: transparent;
      border: none;
      color: #868892;
      display: inline-block;
      position: relative;
      padding: 0;
      padding-left: 1rem;
      padding-bottom: 50px;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.4;

      @media (min-width: 992px) {
        padding-left: 2rem;
        padding-bottom: 95px;
        cursor: pointer;
        font-size: 28px;
      }

      &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 10px;
        width: 8px;
        height: 8px;
        background-color: #fff;
        border-radius: 50%;
        opacity: 0;
      }
    }

    &.p-tabview .p-tabview-panels {
      background: transparent;
      border-radius: 0;
      padding: 0;
      width: 70%;
      padding-left: 10px;
    }

    .p-tabview-nav-container {
      width: 30%;
    }
  }
}

.blk {
  color: #000;
}

.para {
  font-size: 22px;
  line-height: 1.7;
  margin: 30px 0;
  color: #000;
}

.devops-approach {
  .dev-services-tabs {
    padding-top: 50px;
    margin: 0;
    border: none;
    display: block;
    border-radius: 0;

    @media (min-width: 768px) {
      padding-top: 0;
    }

    .p-panel .p-panel-header .p-panel-title {
      @media (min-width: 992px) {
        font-size: 20px;
      }
    }

    .p-panel .p-panel-content {
      padding-top: 35px;

      p {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;
        color: #fff;
      }
    }
  }
}


.devops-tabs {
  .p-tabview .p-tabview-nav {
    background: #ffffff;
    border: none;
    padding: 50px 0 !important;
    margin: 0 20px !important;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 0 !important;
    }
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 0 35px;
    height: 70px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 20px;
    white-space: nowrap;
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {

    background: #126BFB;
    border: 2px solid #126BFB;
    color: #fff;
  }
}


.imgtabs {
  .tabview-custom {
    .p-tabview-nav {
      justify-content: center;
      border-bottom: none;
      margin-bottom: 60px;

      li {
        &.p-highlight {
          .p-tabview-nav-link {
            color: transparent;
            border-color: transparent;
            background: #F1F2FD;
          }
        }

        .p-tabview-nav-link {
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          margin: 0 10px;
          border: none;
          border-radius: 0;
          @media (min-width: 992px){
            margin: 0 20px;
            width: 150px;
          }
        }
      }

    }
  }
}


.faqs{
  margin: 5rem 0;
  .p-panel-toggleable{
    padding: 20px 10px;
    background: #F1F2FD;
    border-radius: 20px;
    margin-bottom: 25px;
    @media (min-width: 992px){
      padding: 20px 40px;
    }
    .p-panel-header{
      border: none;
      background-color: transparent;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.4;
      padding: 20px 0 25px 0;
    }
    .p-panel-content{
      border: none;
      background-color: transparent;
      padding: 0;
      p{
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;
        margin: 0 0 20px;
        color: #000;
      }
    }
  }
}